<div class="doc-playground">
    <div class="doc-playground-stage">
        <ng-content />
    </div>

    <div class="doc-playground-controls">
        @for (control of controls(); track control.name) {
            <m-grid class="doc-playground-row" align="center">
                @switch (control.kind) {
                    @case ('select') {
                        <m-grid-item [lg]="2" [md]="3" [sm]="12"
                            ><span class="doc-playground-label" [id]="id + '-' + control.name">{{
                                control.name
                            }}</span></m-grid-item
                        >
                        <m-grid-item>
                            <div class="doc-inline" role="group" [attr.aria-labelledby]="id + '-' + control.name">
                                @for (option of control.options; track option; let index = $index) {
                                    <button
                                        mButton
                                        size="sm"
                                        variant="outlined"
                                        color="neutral"
                                        [active]="control.value() === option"
                                        [attr.aria-pressed]="control.value() === option"
                                        (click)="control.select(index)"
                                    >
                                        {{ option }}
                                    </button>
                                }
                            </div>
                        </m-grid-item>
                    }
                    @case ('slider') {
                        <m-grid-item [lg]="2" [md]="3" [sm]="12"
                            ><span class="doc-playground-label" aria-hidden="true">{{
                                control.name
                            }}</span></m-grid-item
                        >
                        <m-grid-item>
                            <div class="doc-inline doc-playground-slider">
                                <m-slider
                                    [ariaLabel]="control.name"
                                    [min]="control.min"
                                    [max]="control.max"
                                    [step]="control.step"
                                    [value]="control.value()"
                                    (valueChange)="control.set($event)"
                                />
                                <code mCode aria-hidden="true">{{ control.value() }}</code>
                            </div>
                        </m-grid-item>
                    }
                    @case ('boolean') {
                        <m-grid-item [lg]="2" [md]="3" [sm]="12"
                            ><label class="doc-playground-label" [for]="id + '-' + control.name">{{
                                control.name
                            }}</label></m-grid-item
                        >
                        <m-grid-item>
                            <div class="doc-inline">
                                <m-toggle
                                    size="sm"
                                    [inputId]="id + '-' + control.name"
                                    [checked]="control.value()"
                                    (checkedChange)="control.set($event)"
                                />
                                <code mCode aria-hidden="true">{{ control.value() }}</code>
                            </div>
                        </m-grid-item>
                    }
                }
            </m-grid>
        }
    </div>

    <doc-code-block [code]="code()" language="html" title="Template" />
</div>
