<a class="doc-skip" href="#doc-main" (click)="$event.preventDefault(); focusMain()">{{ 'ui.skipToContent' | mT }}</a>
<m-app-shell>
    @if (showSidebar()) {
        <!-- Below the mobile breakpoint a modal dialog, opened from the menu button in the header. -->
        <m-sidebar tone="subtle" persist ariaLabel="Documentation" [mobileTrigger]="false" [(mobileOpen)]="navOpen">
            <doc-docs-navigation />
        </m-sidebar>
    }
    <doc-docs-header
        [navOpen]="navOpen()"
        [showNavToggle]="showSidebar()"
        (toggleNav)="navOpen.update((open) => !open)"
        (openSettings)="settingsOpen.set(true)"
    />
    @if (showTopbar()) {
        <doc-docs-topbar [container]="topbarContainer()" />
    }
    <m-body>
        <main id="doc-main" class="doc-main" tabindex="-1">
            <m-container class="doc-container">
                <router-outlet />
            </m-container>
        </main>
    </m-body>
</m-app-shell>
<m-scroll-top />
<doc-settings-drawer
    [(open)]="settingsOpen"
    [(showSidebar)]="showSidebar"
    [(showTopbar)]="showTopbar"
    [(topbarContainer)]="topbarContainer"
/>
